@charset "UTF-8";
/*MIXINS START*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*MIXINS END*/

.vr-verkehrsrundschau{
  margin: 0;
}
.vr-verkehrsrundschau .container #superbanner,
.vr-verkehrsrundschau .container #pre-header,
.vr-verkehrsrundschau .container #header,
.vr-verkehrsrundschau .container #topnav,
.vr-verkehrsrundschau .container #contentWrapper {
  width: 970px;
  margin-left: -24px;
}

.vr-verkehrsrundschau .container #pre-header {
  padding: 6px 0;
}

.vr-verkehrsrundschau .container #infonavi li {
  padding-left: 3px;
}

.vr-verkehrsrundschau .container-footer #contentWrapper {
  width: 963px;
  margin-top: -11px;
}

.vr-verkehrsrundschau .navigation-width ul#topnav li ul {
  width: auto !important;
  padding-right: 35px;
}

.vr-verkehrsrundschau .navigation-width ul#topnav li ul li a {
  white-space: nowrap;
}

.vr-verkehrsrundschau .container {
  position: relative;
  width: 962px;
  margin: auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.vr-verkehrsrundschau .container:after,
.vr-verkehrsrundschau .container:before,
.vr-verkehrsrundschau .clearfix:after,
.vr-verkehrsrundschau .clearfix:before {
  content: '';
  display: block;
  clear: both;
}

.vr-verkehrsrundschau .breadcrumbs {
  margin-top: 5px;
}

.vr-verkehrsrundschau .banner {
  margin: 19px 0 0 0;
  padding-bottom: 24px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.vr-verkehrsrundschau .banner-top {
  position: relative;
  z-index: 1;
  height: 351px;
  background: #032D5D;
}

.vr-verkehrsrundschau .banner-left,
.vr-verkehrsrundschau .banner-right {
  font-family: 'PT Serif', serif;
  font-size: 46px;
  color: #fff;
}

.vr-verkehrsrundschau .banner-left {
  position: absolute;
  top: -38px;
  left: 117px;
  width: 336px;
  padding: 25px 22px 12px 22px;
  background: #049de0;
  box-shadow: -5px 3px 2px 0px rgba(9, 9, 8, 0.35);
  line-height: 1.0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.vr-verkehrsrundschau .banner-left i {
  display: block;
}

.vr-verkehrsrundschau .banner-left img {
  display: block;
  margin: 0 0 3px -8px;
}

.vr-verkehrsrundschau .banner-right {
  position: relative;
  float: right;
  width: 500px;
  margin: 44px 0px 0px 0;
  text-align: right;
}

.vr-verkehrsrundschau .banner-right .btn {
  margin-top: 28px;
}

.vr-verkehrsrundschau .banner-right-caption {
  position: absolute;
  left: -20px;
  top: 152px;
  z-index: 0;
}

.vr-verkehrsrundschau .banner-right-big {
  box-shadow: -2px 0px 3px 1px rgba(9, 9, 8, 0.85);
}

.vr-verkehrsrundschau .banner-right-ipad {
  position: relative;
  top: 21px;
  left: 130px;
  z-index: 1;
  display: inline-block;
  border-radius: 8px;
  box-shadow: -1px 0px 3px 2px rgba(9, 9, 8, 0.55);
}

.vr-verkehrsrundschau .banner-caption {
  position: relative;
  z-index: 1;
  float: left;
  width: 60%;
  margin: -150px 0 0 0;
  padding: 39px 0 10px 0px;
  font-size: 20px;
  color: #002b5f;
}

.vr-verkehrsrundschau .banner-caption h1 {
  padding: 0;
  margin-bottom: 3px;
  background: transparent;
  color: inherit;
  font-size: 44px;
  text-transform: none;
  filter: none;
}

.vr-verkehrsrundschau .banner-caption p {
  line-height: 1.2;
}

.vr-verkehrsrundschau .btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 334px;
  padding: 13px 46px 14px 24px;
  border-radius: 5px;
  background: #0e2d5f;
  background: -webkit-linear-gradient(#1a4575, #0e2d5f);
  background: linear-gradient(#1a4575, #0e2d5f);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  text-align: left;
  cursor: pointer;
  letter-spacing: 0.04em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.vr-verkehrsrundschau .btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  right: 18px;
  width: 18px;
  height: 27px;
  background: url(/images/abo2016/arrow-right.png) 0 0 no-repeat;
}

.vr-verkehrsrundschau .btn:hover {
  background: #0e2d5f;
  color: #fff;
}

.vr-verkehrsrundschau .btn-sm {
  display: block;
  min-width: 1px;
  font-weight: 400;
  font-size: 19px;
}

.vr-verkehrsrundschau .btn-red2 {
  background: #ce0000;
  background: -webkit-linear-gradient(#e41c00, #ce0000);
  background: linear-gradient(#e41c00, #ce0000);
}

.vr-verkehrsrundschau .btn-red2:hover {
  background: #ce0000;
}

.vr-verkehrsrundschau .btn-submit {
  height: 45px;
}

.vr-verkehrsrundschau .content {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 27px;
}

.vr-verkehrsrundschau .grey-bg {
  background: #e4e4e4;
}

.vr-verkehrsrundschau .row {
  display: table;
  border-spacing: 16px;
  margin: 0 -16px;
}

.vr-verkehrsrundschau .row + .row {
  margin-top: -16px;
}

.vr-verkehrsrundschau .no-spacing {
  margin: 0;
  border-spacing: 0;
}

.vr-verkehrsrundschau .col4,
.vr-verkehrsrundschau .col6,
.vr-verkehrsrundschau .col8 {
  display: table-cell;
  vertical-align: top;
}

.vr-verkehrsrundschau .col4,
.vr-verkehrsrundschau .col8 {
  background: #fff;
}

.vr-verkehrsrundschau .col4 {
  width: 32.33%;
}

.vr-verkehrsrundschau .col4-simple {
  width: 33.33%;
}

.vr-verkehrsrundschau .col8,
.vr-verkehrsrundschau .col8-simple {
  width: 66.66%;
}

.vr-verkehrsrundschau .col6,
.vr-verkehrsrundschau .col6-simple {
  width: 50%;
}

.vr-verkehrsrundschau .col4-simple,
.vr-verkehrsrundschau .col6-simple,
.vr-verkehrsrundschau .col8-simple {
  float: left;
}

.vr-verkehrsrundschau .col-inside {
  padding: 22px 29px 10px 29px;
  font-size: 18px;
}

.vr-verkehrsrundschau .vr-verkehrsrundschau .col-inside:after,
.vr-verkehrsrundschau .col-inside:before {
  content: '';
  display: block;
  clear: both;
}

.vr-verkehrsrundschau .col-inside h3 {
  margin-top: -2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: inherit;
}

.vr-verkehrsrundschau .red-bg {
  background: #e12013;
  font-size: 35px;
  color: #fff;
}

.vr-verkehrsrundschau .red-bg .col-inside {
  padding: 12px 20px;
}

.vr-verkehrsrundschau .red-bg h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 33px;
  line-height: 1.08;
  color: inherit;
}

.vr-verkehrsrundschau .white-bg {
  background: #fff;
}

.vr-verkehrsrundschau .white-bg p {
  line-height: 1.25;
}

.vr-verkehrsrundschau .col-heading {
  padding: 18px 14px 15px 17px;
}

.vr-verkehrsrundschau .col-heading h3 {
  margin-bottom: 28px;
  font-size: 27px;
  font-weight: 500;
  line-height: 1;
  color: #009fe3;
}

.vr-verkehrsrundschau .col-heading ul {
  margin: 20px 0 0 0;
  padding: 0 0 0 13px;
  font-size: 16px;
  line-height: 1.4;
}

.vr-verkehrsrundschau .col-heading ul li {
  position: relative;
  list-style: none;
}

.vr-verkehrsrundschau .col-heading ul li:before {
  content: '•';
  position: absolute;
  top: 0px;
  left: -12px;
  font-size: 17px;
}

.vr-verkehrsrundschau .img-right {
  float: right;
  margin: 13px 55px 15px 11px;
}

.vr-verkehrsrundschau .img-right-2 {
  margin-top: -1px;
  margin-right: 24px;
}

.vr-verkehrsrundschau .contact-form {
  margin-top: 3px;
  margin-bottom: 100px;
  padding: 16px 15px 26px 15px;
  background: #fff;
  font-weight: 300;
  font-size: 14px;
}

.vr-verkehrsrundschau .contact-form h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: inherit;
}

.vr-verkehrsrundschau .radio-wrap {
  margin: 21px 0 20px 0;
}

/*RADIO START*/
.vr-verkehrsrundschau .radioCustom {
  display: none;
}

.vr-verkehrsrundschau .radioCustom + .radioLabel {
  display: inline-block;
  vertical-align: middle;
  margin-right: 52px;
}

.vr-verkehrsrundschau .radioLabel:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-right: 11px;
  border: #979797 1px solid;
  border-radius: 50%;
}

.vr-verkehrsrundschau .radioCustom:checked + .radioLabel:before {
  background: #979797;
}

/*RADIO END*/
.vr-verkehrsrundschau .input-wrap {
  margin: 0 20px 11px 15px;
}

.vr-verkehrsrundschau .input-wrap label {
  margin-left: 3px;
}

.vr-verkehrsrundschau .input-wrap input {
  display: block;
  width: 100%;
  height: 35px;
  margin: 5px 0 0 0;
  padding: 10px 15px;
  border: #929292 1px solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.vr-verkehrsrundschau .input-wrap.input-wrap-right {
  margin-right: 0px;
  margin-left: 36px;
}

.vr-verkehrsrundschau .input-wrap.input-wrap-left {
  margin-left: 0;
  margin-right: 34px;
}

.vr-verkehrsrundschau .form-note {
  margin: 23px 0 23px 4px;
}

.vr-verkehrsrundschau .form-note h4 {
  font-size: 16px;
  margin-bottom: 4px;
}

.vr-verkehrsrundschau .form-note p {
  line-height: 1.2;
}

.vr-verkehrsrundschau .form-note .form-btn-grey {
  margin-top: 2px;
  margin-left: -2px;
}

.vr-verkehrsrundschau .form-btn-grey {
  display: inline-block;
  vertical-align: top;
  padding: 6px 9px 8px 9px;
  border: #929292 1px solid;
  border-radius: 25px;
  background: #e6e6e6;
  font-weight: 300;
  color: #3c3c3b;
}

.vr-verkehrsrundschau .form-btn-grey:hover {
  background: gainsboro;
}

/*CHECKBOX START*/
.vr-verkehrsrundschau .checkbox {
  position: relative;
  padding-left: 28px;
  margin: 14px 0 14px 20px;
  line-height: 1.2;
}

.vr-verkehrsrundschau .checkbox input[type=checkbox] {
  display: none;
}

.vr-verkehrsrundschau .checkbox input[type=checkbox]:checked + label:after {
  background: #929292;
}

.vr-verkehrsrundschau .checkbox label:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -3px;
  height: 14px;
  width: 14px;
  border: #929292 1px solid;
}

.vr-verkehrsrundschau .checkbox a {
  color: #009fe3;
}

.vr-verkehrsrundschau .checkbox a:hover {
  text-decoration: underline;
}

/*CHECKBOX END*/
.vr-verkehrsrundschau .form-footer {
  margin-top: 18px;
}

.vr-verkehrsrundschau .form-footer .btn {
  float: right;
}

.vr-verkehrsrundschau .form-footer small {
  display: inline-block;
  margin: 29px 0 0 3px;
  color: #3c3c3b;
}

.vr-verkehrsrundschau .btn-small {
  min-width: 261px;
  padding: 10px 42px 10px 20px;
  font-size: 19px;
  font-weight: 400;
}

.vr-verkehrsrundschau .btn-small:after {
  top: 11px;
  width: 14px;
  height: 23px;
  background-size: 100% 100%;
}

.vr-verkehrsrundschau .banner-left-2 {
  position: absolute;
  top: -1px;
  left: -181px;
}

.vr-verkehrsrundschau .banner-right-caption-small {
  top: 160px;
  left: -6px;
}

.vr-verkehrsrundschau .red-bg-big h2 {
  margin-top: 32px;
  margin-left: 6px;
  font-size: 66px;
  line-height: 1;
}

.vr-verkehrsrundschau .red-bg-big h2 span {
  margin-left: 8px;
}

.vr-verkehrsrundschau .marked-ul {
  margin: -2px 0 7px 0;
  padding: 0;
  list-style: none;
}

.vr-verkehrsrundschau .marked-ul li {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  line-height: 1.5;
}

.vr-verkehrsrundschau .marked-ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 2px;
  width: 15px;
  height: 12px;
  background: url(media/marked-ul.png) 0 0 no-repeat;
}

.vr-verkehrsrundschau .card {
  padding-bottom: 17px;
  font-weight: 300;
  background: #fff;
}

.vr-verkehrsrundschau .card img {
  display: block;
  width: 100%;
  height: 280px;
}

.vr-verkehrsrundschau .card .btn {
  margin: 0 18px;
}

.vr-verkehrsrundschau .card-text {
  min-height: 90px;
  padding: 13px 19px 0px 19px;
  line-height: 1.5;
  font-size: 15px;
}

.vr-verkehrsrundschau .question {
  margin-top: -2px;
  font-weight: 300;
  color: #3c3c3b;
}

.vr-verkehrsrundschau .question .col-inside {
  padding: 26px 17px 15px 19px;
}

.vr-verkehrsrundschau .question p {
  font-size: 16px;
  line-height: 1.5;
}

.vr-verkehrsrundschau .question p + p {
  margin-top: 24px;
}

.vr-verkehrsrundschau .question h3 {
  margin-bottom: -2px;
}

.vr-verkehrsrundschau .question .col8 {
  width: 66%;
}

.vr-verkehrsrundschau .question .col4 {
  width: 31%;
}

.vr-verkehrsrundschau .question a,
.vr-verkehrsrundschau .page-footer a,
.vr-verkehrsrundschau .login-note a {
  color: #009fe3;
}

.vr-verkehrsrundschau .question a:hover,
.vr-verkehrsrundschau .page-footer a:hover,
.vr-verkehrsrundschau .login-note a:hover {
  text-decoration: underline;
}

.vr-verkehrsrundschau .question-img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 205px;
}

.vr-verkehrsrundschau .page-footer {
  margin-top: 26px;
  margin-bottom: -15px;
  text-align: center;
  font-size: 16px;
}

.vr-verkehrsrundschau .page-footer h5 {
  margin-bottom: 0px;
  font-size: 16px;
}

.vr-verkehrsrundschau #contentWrapper .mainframe-2 {
  margin-top: 14px;
}

.vr-verkehrsrundschau .login-section {
  margin-bottom: 11px;
  background: #262f36;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
}

.vr-verkehrsrundschau .login-section h2 {
  font-weight: 300;
  font-size: 35px;
  color: inherit;
}

.vr-verkehrsrundschau .login-section .btn {
  display: block;
  min-width: 1px;
  margin: 0 10px 0 2px;
}

.vr-verkehrsrundschau .login-left,
.vr-verkehrsrundschau .login-right {
  padding: 26px 13px 25px 23px;
}

.vr-verkehrsrundschau .login-left h2,
.vr-verkehrsrundschau .login-right h2 {
  margin-bottom: 17px;
  line-height: 1.0;
}

.vr-verkehrsrundschau .login-left p,
.vr-verkehrsrundschau .login-right p {
  line-height: 1.3;
}

.vr-verkehrsrundschau .login-left p + p,
.vr-verkehrsrundschau .login-right p + p {
  margin-top: 19px;
}

.vr-verkehrsrundschau .login-text {
  min-height: 119px;
  padding: 0 0 20px 0;
}

.vr-verkehrsrundschau .text-blue-wrap {
  float: right;
  width: 131px;
  margin: -3px -13px 0 0;
  overflow: hidden;
}

.vr-verkehrsrundschau .text-blue {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 3px 11px;
  margin-bottom: 0px;
  font-family: 'PT Serif', serif;
  font-size: 32px;
  line-height: 1.1;
  background: #009fe3;
}

.vr-verkehrsrundschau .text-blue-last {
  float: right;
}

.vr-verkehrsrundschau .text-rotate {
  float: right;
  margin: -5px -6px 0 0;
  z-index: 0;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.vr-verkehrsrundschau .login-right {
  background: #4a7da3;
}

.vr-verkehrsrundschau .login-note {
  margin-bottom: 30px;
  font-size: 13px;
  text-align: center;
}

.vr-verkehrsrundschau .form-error
.vr-verkehrsrundschau {
  color:red;
  font-weight:bold;
}
.vr-verkehrsrundschau #previewUpload img, #previewUpload object {
  max-width:150px;
  max-height:150px;
  margin-top: 20px;
}